@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* font-size: 1.25rem; */
}

.header-class {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.footer-class {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.page-width {
  @apply px-5 md:px-20
}

.wave::before {
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2326275F" fillOpacity="1" d="M0,128L40,138.7C80,149,160,171,240,181.3C320,192,400,192,480,176C560,160,640,128,720,106.7C800,85,880,75,960,69.3C1040,64,1120,64,1200,85.3C1280,107,1360,149,1400,170.7L1440,192L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>');
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  height: auto;
}

.heading {
  font-size: 2.5rem;
  line-height: normal;
}

.subheading {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  .heading {
    font-size: 1.75rem;
  }

  .subheading {
    font-size: 1.25rem;
  }
}